Kk<1Doctype HTML>
<html>
<head>
<title>Biinko</title>
</head>
<body bgcolor="black">
<h1 style="color:red;text-align:center;">Welcome Boss! Let's have some fun</h1>
 <h2 style="color:green; text-align:center;"> Hey I'm Shubhransu, checkout my blogging site and give your feedback</h2>
  
   <div style="text-align:center;" class="form-signup">
        <form style="text-align:center;" method="POST" action="register" >
            {% csrf_token %}

            <h2>REGISTER ACCOUNT</h2>
            <input type="text" name="first_name" placeholder="Enter First Name"><br>
            <input type="text" name="last_name" placeholder="Enter Last Name"><br>
            <input type="text" name="username" placeholder="Enter User Name"><br>
            <input type="email" name="email" placeholder="Enter Email Here"><br>
            <input type="password" name="password" placeholder="Enter Password Here"><br>
            <input type="password" name="password" placeholder="Enter Confirm Password"><br>

            <input type="submit" value="Save" class="btn btn-info">

        </form>
        <p class="link">Alrady Have An Account <br>
        <a href="{% url 'userlogin'%}">Login </a> Here</a></p>

    </div>
</body>
</html>
